.buttons-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table-user {
  margin-top: 20px;
}

.table-user .user-photo {
  width: 100px;
  max-width: 100%;
  text-align: center;
}

.table-user .user-photo img {
  max-width: 100%;
}

.control-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-links a,
.control-links div.btn {
  display: block;
  margin: 2px;
  padding: 3px 5px;
}

.form-add-user .file-name {
  padding: 6px 12px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.475;
  vertical-align: middle;
}

.form-add-user .preview-photo {
  padding: 10px 0px;
}

.form-add-user .preview-photo .user-photo {
  max-width: 80px;
}

.form-add-user .preview-photo .user-photo img {
  max-width: 100%;
}

.dataDepartment .label {
  font-size: 12px;
}

.table-course .course-img {
  max-width: 50px;
  margin: auto;
}

.table-course .course-img img {
  max-width: 100%;
}

.table-course .label {
  font-size: 12px;
}

.form-add-course .add-chapter {
  font-size: 16px;
  padding-right: 10px;
  display: inline-block;
}

.form-add-course .file-name {
  padding: 6px 12px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.475;
  vertical-align: middle;
}

.form-add-course .file-name {
  padding: 6px 12px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.475;
  vertical-align: middle;
}

.form-add-course .preview-photo {
  padding: 10px 0px;
}

.form-add-course .preview-photo .user-photo {
  max-width: 80px;
}

.form-add-course .preview-photo .user-photo img {
  max-width: 100%;
}

.form-add-course .editor-wrap {
  padding-top: 20px;
}

.form-add-course .editor-wrap .title {
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.form-add-course .checkbox-wrap .checkbox input[type=checkbox],
.form-add-course .checkbox-wrap .checkbox-inline input[type=checkbox],
.form-add-course .checkbox-wrap .radio input[type=radio],
.form-add-course .checkbox-wrap .radio-inline input[type=radio] {
  margin-left: 0px;
}

.form-add-course .file-link {
  overflow: hidden;
  max-width: 100%;
}

.box-curse-section {
  padding: 15px 0px;
}

.bootstrap-datetimepicker-widget {
  z-index: 10001 !important;
}

.form-set-course {
  padding-bottom: 20px;
}

.form-add-question .add-new-any-question {
  margin-left: 15px;
}

.table-total-course .form-control {
  max-width: 120px;
  width: 100%;
}

.table-total-course.table > thead > tr > th {
  vertical-align: top;
}

.table-total-course.table.dataTable thead .sorting:after,
.table-total-course.table.dataTable thead .sorting_asc:after,
.table-total-course.table.dataTable thead .sorting_asc_disabled:after,
.table-total-course.table.dataTable thead .sorting_desc:after,
.table-total-course.table.dataTable thead .sorting_desc_disabled:after {
  top: 8px;
  bottom: auto;
}

#container .table th {
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 25px;
}

.table-news {
  margin-top: 20px;
}

.table-news .news-img {
  width: 150px;
  max-width: 100%;
  text-align: center;
}

.table-news .news-img img {
  max-width: 100%;
}

.error {
  color: red;
  display: none;
}

.has-error .error {
  display: block;
  color: red;
}

.list-group {
  padding-top: 5px;
}

.news-panel .blog-list .blog-header {
  width: 30%;
}

.news-panel .blog-list .blog-header + .blog-content {
  width: 70%;
}

.news-panel .blog-list .blog-block {
  width: 100%;
}

.news-panel .blog-list .blog-block::after {
  display: block;
  content: "";
  clear: both;
}

.panel-course .course-img.match-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 155px;
  overflow: hidden;
  padding: 5px;
}

.panel-course .course-img.match-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.panel-course .top-labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-course .top-labels .label {
  font-size: 14px;
  padding: 5px;
  font-weight: 500;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown .ic-user .label.label-dark {
  padding: 10px;
  margin-left: 5px;
}

.course-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

.course-header .course-img {
  max-width: 100px;
}

.course-header .course-img img {
  max-width: 100%;
}

.course-header .course-title {
  font-size: 18px;
  font-weight: bold;
  color: #4d627b;
}

.video-wrap {
  max-width: 100%;
}

.video-wrap video {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.audio-wrap audio {
  max-width: 100%;
  width: 100%;
}

.questions-wrap {
  width: 100%;
}

.questions-wrap .question-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content-container:before {
  height: 100px;
}

#page-content {
  padding-top: 0px;
}

.new-section-sm {
  margin-top: 5px;
  margin-bottom: 0px;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.equal > div {
  padding-bottom: 20px;
}

.equal .panel {
  height: 100%;
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .custom-row .cs-col-lg-5 {
    width: 20%;
  }
}

@media screen and (max-width: 1400px) {
  .table-user .form-control {
    max-width: 100px;
  }
  .panel-course > .pad-all {
    padding: 10px;
  }
  .panel-course .course-img.match-img {
    height: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .table-user .user-photo {
    width: 50px;
  }
  .page-header {
    padding-left: 10px;
  }
  .news-panel .blog-list .blog-header {
    width: 50%;
  }
  .news-panel .blog-list .blog-header + .blog-content {
    width: 50%;
  }
}

@media screen and (max-width: 969.5px) {
  .panels-category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 450px) {
  .col-xxs-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=custom_user.css.map */